main { display: grid; grid-template-columns: 1fr auto auto; gap: var(--sizing-medium); }
main > h1 { margin-bottom: 0; grid-column: 1 / -1; }
.currency_menu { width: 8ch; flex-shrink: 0; }
h1, main > :first-child { margin-bottom: 0; }
.surface { margin: 0; }

main > form:nth-of-type(1) { grid-column: 1 / -1; gap: 0; }
main > form:nth-of-type(1) > :nth-child(1) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
main > form:nth-of-type(1) > :nth-child(2) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
main > form:nth-of-type(1) > :nth-child(3) { margin: 0 var(--margin-horizontal-regular); }
main > form:nth-of-type(1) > .red_button.active { box-shadow: 0 0 0 0.2rem hsl(from var(--color-red) h s l / 0.5); z-index: 2; }
main > form:nth-of-type(1) > .green_button.active { box-shadow: 0 0 0 0.2rem hsl(from var(--color-green) h s l / 0.5); z-index: 2; }
main > form:nth-of-type(1) > :not(.red_button, .green_button).active { box-shadow: 0 0 0 0.2rem hsl(from var(--brand-color) h s l / 0.5); z-index: 2; }

main > form { display: flex; align-items: center; gap: var(--sizing-regular); }
main > form > button { width: max-content; flex-shrink: 0; }
main > form > span { white-space: nowrap; }
main > form > input { min-width: 10ch; }

main > div.surface { display: flex; place-items: center; place-content: center; white-space: nowrap; }

main > form:nth-of-type(3) { grid-column: 1 / -1; }

table { grid-column: 1 / -1; white-space: nowrap; }
td * { display: inline-block; }
table input { width: 10ch; background: transparent; border: none; }
table button { vertical-align: middle; }
table button:last-child { margin-left: var(--sizing-regular); }
table button > img { display: block; height: calc(var(--interactive-min-height) - 2 * var(--padding-vertical-regular)); }