figure
{
    background: var(--surface-color); border-radius: var(--border-radius-small);
    padding: var(--padding-medium); margin: var(--margin-vertical-regular) 0;
    border: thin solid var(--border-color);
}
main > button
{
    margin: var(--margin-vertical-regular) 0;
    width: max-content;
}