<%
const values =
{
    "ROUBLE": "₽",
    "DOLLAR": "$",
    "EURO": "€"
};

const form = locals.form ? `form=${locals.form}` : '';
%>

<select class="currency_menu" name="currency" <%=form%> required>
    <% for (const key in values)
    {
        const selected = (locals.value == key) ? 'selected' : ''; %>
        <option value="<%=key%>" <%=selected%>><%=values[key]%></option>
    <% } %>
</select>