main { border: thin solid var(--border-color); }
h2 { margin-bottom: var(--margin-vertical-regular); }
body { flex-direction: column; gap: var(--sizing-regular); }
button { margin-top: var(--margin-vertical-big); margin-bottom: calc(2 * var(--margin-vertical-regular)); }
footer { color: var(--text-minor-color); text-shadow: 0px 0px 10px var(--shadow-color); text-align: center; }