h2 { margin-bottom: var(--margin-vertical-regular); }
button { margin-top: var(--margin-vertical-big); margin-bottom: calc(2 * var(--margin-vertical-regular)); }
footer { color: var(--text-minor-color); text-shadow: 0px 0px 10px var(--shadow-color); text-align: center; }
body { display: flex; flex-direction: column; place-items: center; place-content: center; gap: var(--sizing-regular); }
main { background: var(--surface-color); padding: var(--padding-big); width: min-content; border: thin solid var(--border-color); border-radius: var(--border-radius-regular); }