:root, ::backdrop
{
    --brand-color: hsl(272, 81%, 49%);
    --background-color: hsl(264, 57%, 13%);
    --surface-color: linear-gradient(63deg, hsl(263, 56%, 13%) 0%, hsl(272, 57%, 27%) 100%);
    --border-color: hsl(272, 81%, 49%);
    --shadow-color: hsl(272, 86%, 33%);

    --text-major-color: hsl(0, 0%, 100%);
    --text-minor-color: hsl(271, 100%, 85%);
    --text-placeholder-color: hsl(271, 100%, 85%);

    color-scheme: dark;
    
    --font-size-regular:  16px;
    --font-size-medium:   21px;
    --font-size-big:      64px;

    --interactive-min-width: 440px;
    --interactive-min-height: 46px;

    --sizing-regular: calc(0.66 * var(--font-size-regular));
    --sizing-medium:  calc(0.5 * var(--font-size-medium));
    --sizing-big:     calc(0.33 * var(--font-size-big));
}

body { font-family: 'Inconsolata'; }
input { border: thin solid transparent; }
button { box-shadow: 0 5px 0 var(--shadow-color); }
h1 { font-weight: 400; color: var(--text-minor-color); text-shadow: 0px 0px 50px var(--border-color); }
hr { background: linear-gradient(90deg, rgba(153, 64, 222, 0.00) -1.25%, #A750FC 50.53%, rgba(153, 64, 222, 0.00) 101.25%); }