<!DOCTYPE html>
<html lang='ru'>
    <head>
        <%- include("general/head.ejs", { style: "dark" }) %>
        <link rel="stylesheet" href="/static/css/widget.css" nonce="<%=cspNonce.style%>">
        <script src="/static/js/widget.js" nonce="<%=cspNonce.script%>" type="module"></script>
    </head>
    <body>
        <main tabindex="-1">
            <div>
                <h1>BONUSBUY#<%=req.params.session_id%></h1>
                <span>ZLOYN</span>
            </div>
            <div>
                <div id="sum_deposit"> <span hidden></span> </div>
                <hr class="rotated">
                <div id="min_x"> <span hidden></span> </div>
                <hr class="rotated">
                <div id="bonus_amount"> <span hidden></span> </div>
            </div>
            <div>
                <div id="max_winning"> <span hidden></span> </div>
                <div id="min_winning"> <span hidden></span> </div>
            </div>
            <hr>
            <div id="mode" hidden>
                <div>
                    <div></div>
                    <div role="presentation"></div>
                </div>
            </div>
        </main>
    </body>
</html>