<!DOCTYPE html>
<html lang='ru'>
    <head>
        <%- include("general/head.ejs", { style: "dark" }) %>
        <link rel="stylesheet" href="/static/css/widget.css" nonce="<%=cspNonce.style%>">
        <script src="/static/js/widget.js" nonce="<%=cspNonce.script%>" type="module"></script>
    </head>
    <body>
        <main tabindex="-1">
            <div>
                <h1>BONUSBUY#124</h1>
                <span>ZLOYN</span>
            </div>
            <div>
                <span>$10.5k</span>
                <hr class="rotated">
                <span>2.18X</span>
                <hr class="rotated">
                <span>25</span>
            </div>
            <div>
                <span>7. THE WILD GA. (600$) = 2863$</span>
                <span>19. THE MADAME VYZVUER (1200$) = 384$</span>
            </div>
            <hr>
            <div id="start_mode">
                <!--<div id="main_mode">
                    <span>1. THE WILD GA. (600$) = 0</span>
                    <span>2. THE WILD GA. (600$) = 0</span>
                    <span>3. THE WILD GA. (600$) = 0</span>
                    <span>4. THE WILD GA. (600$) = 0</span>
                    <span>5. THE WILD GA. (600$) = 0</span>
                    <span>6. THE WILD GA. (600$) = 0</span>
                    <span>7. THE WILD GA. (600$) = 0</span>
                    <span>8. THE WILD GA. (600$) = 0</span>
                    <span>9. THE WILD GA. (600$) = 0</span>
                    <span>10. THE WILD GA. (600$) = 0</span>
                    <span>11. THE WILD GA. (600$) = 0</span>
                    <span>12. THE WILD GA. (600$) = 0</span>
                    <span>&nbsp;</span>
                    <span>1. THE WILD GA. (600$) = 0</span>
                    <span>2. THE WILD GA. (600$) = 0</span>
                    <span>3. THE WILD GA. (600$) = 0</span>
                    <span>4. THE WILD GA. (600$) = 0</span>
                    <span>5. THE WILD GA. (600$) = 0</span>
                    <span>6. THE WILD GA. (600$) = 0</span>
                    <span>7. THE WILD GA. (600$) = 0</span>
                    <span>8. THE WILD GA. (600$) = 0</span>
                    <span>9. THE WILD GA. (600$) = 0</span>
                    <span>10. THE WILD GA. (600$) = 0</span>
                    <span>11. THE WILD GA. (600$) = 0</span>
                    <span>12. THE WILD GA. (600$) = 0</span>
                    <span>&nbsp;</span>
                </div>-->
                <span>1. THE WILD GA. (600$) = 0</span>
                <span>2. THE WILD GA. (600$) = 0</span>
                <span>3. THE WILD GA. (600$) = 0</span>
                <span>4. THE WILD GA. (600$) = 0</span>
                <span>5. THE WILD GA. (600$) = 0</span>
                <span>6. THE WILD GA. (600$) = 0</span>
                <span>7. THE WILD GA. (600$) = 0</span>
                <span>8. THE WILD GA. (600$) = 0</span>
                <span>9. THE WILD GA. (600$) = 0</span>
                <span>10. THE WILD GA. (600$) = 0</span>
                <span>11. THE WILD GA. (600$) = 0</span>
                <span>12. THE WILD GA. (600$) = 0</span>
            </div>
        </main>
    </body>
</html>