<!DOCTYPE html>
<html lang='ru'>
    <head>
        <%- include("general/head.ejs", { style: "dark" }) %>
        <link rel="stylesheet" href="/static/css/widget.css" nonce="<%=cspNonce.style%>">
        <script src="/static/js/widget.js" nonce="<%=cspNonce.script%>" type="module"></script>
    </head>
    <body>
        <main tabindex="-1">
            <div>
                <h1>BONUSBUY#124</h1>
                <span>ZLOYN</span>
            </div>
            <div>
                <div>$10.5k</div>
                <hr class="rotated">
                <div>2.18X</div>
                <hr class="rotated">
                <div>25</div>
            </div>
            <div>
                <div>7. THE WILD GA. (600$) = 2863$</div>
                <div>19. THE MADAME VYZVUER (1200$) = 384$</div>
            </div>
            <hr>
            <div>
                <div>1. THE WILD GA. (600$) = 0</div>
                <div class="chosen">2. THE WILD GA. (600$) = 0</div>
                <div>3. THE WILD GA. (600$) = 0</div>
                <div>4. THE WILD GA. (600$) = 0</div>
                <div>5. THE WILD GA. (600$) = 0</div>
                <div>6. THE WILD GA. (600$) = 0</div>
                <div>7. THE WILD GA. (600$) = 0</div>
                <div>8. THE WILD GA. (600$) = 0</div>
                <div>9. THE WILD GA. (600$) = 0</div>
                <div>10. THE WILD GA. (600$) = 0</div>
                <div>11. THE WILD GA. (600$) = 0</div>
                <div>12. THE WILD GA. (600$) = 0</div>
            </div>
        </main>
    </body>
</html>