<!DOCTYPE html>
<html lang='ru'>
    <head>
        <%- include("general/head.ejs", { style: "dark" }) %>
        <link rel="stylesheet" href="/static/css/widget.css" nonce="<%=cspNonce.style%>">
        <script src="/static/js/widget.js" nonce="<%=cspNonce.script%>" type="module"></script>
    </head>
    <body>
        <main tabindex="-1">
            <div>
                <h1>BONUSBUY#<%=req.params.session_id%></h1>
                <span>ZLOYN</span>
            </div>
            <div>
                <span id="sum_deposit">&nbsp;</span>
                <hr class="rotated">
                <span id="min_x">&nbsp;</span>
                <hr class="rotated">
                <span id="bonus_amount">&nbsp;</span>
            </div>
            <div>
                <span id="max_winning">&nbsp;</span>
                <span id="min_winning">&nbsp;</span>
            </div>
            <hr>
            <div id="mode"></div>
        </main>
    </body>
</html>